/* Import des polices Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

/* Style global */
body {
    background-color: #041821;
}
header { 
    border-bottom: solid 1px  #5f5f5f;

}
/* Style des sections */
section {
    font-family: "Yeseva One", serif;
    font-size: 50px;
    margin-top: 3%;
}

/* Styles pour Titre1 et Titre2 */
#Titre1 {
    color: rgb(255, 255, 255);
    width: 80vw;
    margin: auto;
    font-weight: bold;
}

#Titre2 {
    color: rgb(23, 213, 154);
    width: 80vw;
    margin: auto;
    font-weight: bold;
}

/* Texte descriptif */
#texte1 {
    color: grey;
    font-size: 18px;
    width: 50%;
    margin-left: 9%;
    margin-top: 2%;
    padding: 4px;
}

/* Accent dans le nom */
#points {
    color: rgb(23, 213, 154);
}

/* Grille d'images */
.grid-container {
    display: grid;
    padding: 5px;
}

/* Conteneur en-tête */
.container {
    display: flex;
}

.grid-item {
    text-align: center;
}

/* Propriétés du div d'en-tête */
#div1 {
    padding-left: 12px;
    width: 50%;
}

header div p {
    color: rgb(255, 255, 255);
    font-family: "Yeseva One", sans-serif;
    font-size: 25px;
}

#div2 {
    padding: 8px;
    text-align: right;
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
}

/* Icônes */
#div2 i {
    margin-left: 25px;
    color: rgb(255, 255, 255);
}

/* Liste des catégories */
#ul1 {
    display: flex;
    margin: 0;
    padding-top: 5px;
    justify-content: center;
    color: white;
    font-family: "Montserrat", sans-serif;
}

/* Eléments de la liste */
.li1 {
    margin-right: 20px;
    text-align: center;
    display: block;
}

/* Accent de l'arrière-plan */
#vert-fond {
    background-color: rgb(23, 213, 154);
    padding: 5px;
}

/* Pied de page */
footer {
    color: white;
    text-align: center;
    padding: 16px;
    font-size: 20px;
}

footer #footer {
    color: white;
    font-size: 15px;
    text-align: center;
}

/* Images dans la grille */
.grid-container img {
    width: 98%;
    height: auto;
    display: block;
    padding: 5px;
}

/* Grille pour les grands écrans */
@media (min-width: 1025px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
        width: 80vw;
        margin: auto;
    }
    .grid-parent {
        padding-top: 30px;
        margin: 40px auto;
    }
    .grid-item,
    .grid-item img {
        max-width: 200px;
        height: 200px;
    }
}

/* Grille pour les tablettes */
@media (min-width: 640px) and (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(5, 1fr);
    }
    .grid-parent {
        padding-top: 30px;
        margin: 40px auto;
    }
    .grid-item,
    .grid-item img {
        max-width: 140px;
        height: 140px;
    }
}

/* Grille pour les mobiles */
@media (max-width: 640px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .grid-parent {
        padding-top: 30px;
        margin: 40px auto;
    }

    
    .grid-item,
    .grid-item img {
        max-width: 140px;
        height: 140px;
    }
    .container {
        display: block;
    }
    #div1,
    #div2 {
        width: 100%;
        text-align: center;
        margin: 0;
    }
    .grid-container img:nth-child(n + 10) {
        display: none;
    }
}
