
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

@media (min-width: 1025px) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

header .div1 {
    color: white;
    font-size: 25px;
    font-family: "Yeseva One", sans-serif;
}


@media (min-width: 1025px) {
    header .div2 {
        text-align: right;
        margin-top:20px;
        margin-right: 20px;
    }
}  

body {
    background-color: #041821;
}

@media (min-width: 1025px) {
    main .div1 {
    display: flex;
    padding-left: 5%;
    font-family: "Yeseva One", sans-serif;
    }
}

#Hello {
    color: white;
    font-size: 18px;
    font-family: "Yeseva One", sans-serif;
}

@media (min-width: 1025px) {
    main .div2 {
    display: flex;
    padding-left: 5%;
    }
}

#prestentation {
    display: flex;
    color: white;
    font-size: 15px;    
    justify-content: center;
    font-family: "Monteserat", sans-serif;
}

@media (min-width: 1025px) {
    main .div3 {
    display: flex;
    padding-left: 36%;
    flex-wrap: wrap;
    }
}

main .div3 {
    display: flex;
    padding-left: 36%;
    flex-wrap: wrap;
}

.titres {
    display: flex;
    color: white;
    font-size: 15px;
    gap: 50px;               
    margin-bottom: 10px;
    justify-content: center; 
    font-family: "Montserrat";
}

.Portrait {
    background-color: #3d917a;
    padding: 5px;
}

@media (min-width: 1025px) {
    main .div4 {
    padding-left: 5%;
    padding-right: 5%;
    }
}

.all {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    }

.images img {
    width: 100%; 
    height: 100%; 
}

#vert {
    color: #1ece9a;
}

.fa-brands {
    padding: 10px;
  }

.footer {
    padding-top: 30px;
    text-align: center;
    color: white;
}
